footer{
    background-color: #151515;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #00F7FF;
    text-shadow: 
    0 0 5px #00F7FF,
    0 0 10px #00F7FF
}

section{
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

img{
    border-radius: 50%;
}

h3{
    margin: 5px 0px;
}

#info-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.custom-span{
    color: #4DFFBE;
    text-shadow: 
    0 0 5px #4DFFBE,
    0 0 10px #4DFFBE
}