body{
    margin: 0;
    background-color: #151515;
}

nav{
    background-color: #171717;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

strong{
    color: #00F7FF;
    text-shadow: 
    0 0 5px #00F7FF,
    0 0 10px #00F7FF
}

nav li{
    width: 25%;
    margin: 0px 5px;
}

#menu-toggle {
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#nav-div{
    background-color: #171717;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mobile-div{
    background-color: #171717;
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
}

#nav-heading{
    margin: 10px 10px 10px 0px;
    width: 20%;
}

#nav-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
}

#contact-div{
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
}

.nav-link{
    border-radius: 15px;
    border-color: #00F7FF;
    padding: 10px;
    width: 100%;
    color: white;
    background-color: #171717;
}

.nav-link:hover{
    background-color: #00F7FF;
    cursor: pointer;
    color: black;
    box-shadow: 0 4px 10px #00F7FF;
}

.active{
    background-color: #00F7FF;
    color: black;
    box-shadow: 0 4px 10px #00F7FF;
}

.contact{
    font-size: medium;
    margin: 3% 0;
}

.custom-hr{
    border: none;
    border-top: 5px dotted #00F7FF;
    width: 10%;
}

.custom-link{
    color: #00F7FF;
}